/* первый экран 1920px */
@media screen and (min-width: 1920px) {
  .title {
    max-width: 780px;
    margin: 0 auto;
    font-family: "Feature Mono";
    font-weight: 700;
    font-size: 100px;
    color: #f48aba;
    -webkit-text-stroke: 2px #232323;
    letter-spacing: -2%;
    line-height: 90%;
    text-align: center;
  }

  .description {
    text-align: center;
    margin: 0 auto;
    font-family: "Feature Mono";
    font-weight: 500;
    font-size: 24px;
    color: #232323;
    max-width: 670px;
    line-height: 110%;
    margin-top: 40px;
  }

  .plane {
    width: 166px;
    height: 205px;
  }

  .content {
    text-align: center;
    position: absolute;
    top: 90px;
  }
}
